# \usepackage
snippet up \usepackage
	\\usepackage[${1:options}]{${2:package}} ${0}

snippet begin \begin{} ... \end{} block
	\\begin{${1:env}}
		${0:$TM_SELECTED_TEXT}
	\\end{$1}

snippet frac \frac{}{}
	\\frac{${1:num}}{${2:denom}} ${0}

snippet sum \sum_{}^{}
	\\sum_{${1:i=1}}^{${2:n}} ${0}

snippet prod \prod_{}^{}
	\\prod_{${1:i=1}}^{${2:n}} ${0}

snippet lim \lim_{}
	\\lim_{${1:n \\to \\infty}} ${0}
