# Ignore ALL log files.
*.log

# Ignore zsh histfile.
/zsh/.histfile

#Ignore plugin managers.
/zsh/.zgenom
/zsh/.zprezto

/polybar/polybar-themes

# Ignore firefox configurations.
/firefox/themes
/firefox/homepages

/mpd/database
/mpd/pid

# Vim
/vim/.netrwhist
