# Ignore all font cache files.
.uuid

## beets
/etc/beets/state.pickle
## mpd
/etc/mpd/database
/etc/mpd/pid
/etc/mpd/playlists
## ncmpcpp
/etc/ncmpcpp/lyrics
/etc/ncmpcpp/error.log
## nvim
/etc/nvim/lazy-lock.json
