# Ignore ALL log files.
*.log

/.config/zsh/.histfile
/.config/zsh/.zgenom
/.config/zsh/.zprezto

/.config/polybar/polybar-themes

# Ignore firefox configurations.
/.config/firefox/themes
/.config/firefox/homepages

/.config/mpd/database
/.config/mpd/pid
/.config/mpd/playlists

# Vim
/.config/vim/.netrwhist
