# vim:filetype=i3config

set $refresh_i3status killall -SIGUSR1 i3status
#bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
#bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
#bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
#bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status

# PulseAudio controls.
bindsym XF86AudioMute        exec --no-startup-id pactl set-sink-mute   @DEFAULT_SINK@ toggle
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +5%

# Sreen brightness controls
bindsym XF86MonBrightnessDown exec xbacklight -dec 20 # decrease screen brightness
bindsym XF86MonBrightnessUp   exec xbacklight -inc 20 # increase screen brightness

# Touchpad controls
#bindsym XF86TouchpadToggle exec /some/path/toggletouchpad.sh

# Media player controls
bindsym XF86AudioPause exec playerctl pause
bindsym XF86AudioPlay  exec playerctl play
bindsym XF86AudioPrev  exec playerctl previous
bindsym XF86AudioNext  exec playerctl next

# Kill focused window.
bindsym $mod+q kill
# Enter fullscreen mode for the focused container.
bindsym $mod+f fullscreen toggle
# Change container layout (stacked, tabbed, toggle split).
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# Change focus between tiling/floating windows.
bindsym $mod+space focus mode_toggle

# Toggle tiling/floating.
bindsym $mod+Shift+space floating toggle

# Focus the parent container.
bindsym $mod+a focus parent
# Focus the child container.
bindsym $mod+d focus child

# Use rofi to launch apps.
bindsym $alt+space exec --no-startup-id rofi -show

# Resize window in resize mode (you can also use the mouse for that).
bindsym $mod+r mode "resize"

mode "resize" {
    # These bindings trigger as soon as you enter the resize mode.
    bindsym h resize shrink width  10 px or 10 ppt
    bindsym j resize grow   height 10 px or 10 ppt
    bindsym k resize shrink height 10 px or 10 ppt
    bindsym l resize grow   width  10 px or 10 ppt

    # Back to normal: Enter or Escape or $mod+r.
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym $mod+r mode "default"
}

