.control-main {
	border-radius:        12px;
	padding:              12px 20px;

	font-family:          "Inconsolata", "FiraMono Nerd Font Mono";
	font-weight:          bold;
	font-size:            15pt;

	color:                #C0CAF5;
	background-color:     #24283B;
}

.volume-main {
	font-size:            24pt;
	color:                #C3E88D;
}
.volume-slider trough {
	border-radius:        0.2em;
	padding:              0.1em;
	background-color:     #3B4261;
}
.volume-slider highlight {
	border-radius:        0.1em;
	padding:              0.1em;
	background-color:     #C3E88D;
}



.brightness-main {
	font-size:            24pt;
	color:                #FFC777;
}
.brightness-slider {
  padding:              0 0 0 16px;
}
.brightness-slider trough {
	border-radius:        0.2em;
	padding:              0.1em;
	background-color:     #3B4261;
}
.brightness-slider highlight {
	border-radius:        0.1em;
	padding:              0.1em;
	background-color:     #FFC777;
}

.butts-main {
  font-size:            32pt;
  color:                #414868;
}
.butts-kids {
  border-radius:        0.5em;
  background-color:     #7AA2F7;
}
