.control-main {
	border-radius:        12px;
	padding:              12px 20px;

	font-family:          "Inconsolata Bold", "Material Design Icons Desktop";
	font-size:            15pt;

	color:                #C0CAF5;
	background-color:     #24283B;
}

// Buttons {{{

.button-control-main {
  font-size:            18pt;
  color:                #414868;
}
.button-control-kids {
  border-radius:        1.0em;
	padding:              0.4em 0;
  background-color:     #7AA2F7;
}

// }}}

// Sliders {{{

$sliders: (
	volume-control:       #C3E88D,
	brightness-control:   #FFC777
);

@each $name, $color in $sliders {
	.#{$name}-main {
		font-size:          18pt;
		color:              $color;
	}
	.#{$name}-slider {
		padding:            0 0 0 0.6em;
	}
	.#{$name}-slider trough {
		border-radius:      0.3em;
		padding:            0.2em;
		background-color:   #3B4261;
	}
	.#{$name}-slider highlight {
		border-radius:      0.2em;
		padding:            0.1em;
		background-color:   $color;
	}
}

// }}}

.iam-main {
}
.iam-avatar {
  min-width:            100px;
  min-height:           100px;
  background-position:  center;
  background-size:      cover;
  background-repeat:    no-repeat;
}
