.dashboard {
  // Shapes
  margin:               4px 12px;
  border-radius:        12px;
  min-width:            20em;
  // Foreground
  font-family:          "Operator Mono", "FiraMono Nerd Font Mono";
  font-size:            15pt;
  // Background
  background-color:     #24283B;
}

.xbutton {
  // Shapes
  padding:              0 4px;
  // Foreground
  font-size:            18pt;
  color:                #FF757F;
}
.xbutton:hover {
  color:                #BB9AF7;
}

.profile {
  background-color:     #292E42;
  border-radius:        12px;
}
.avatar {
  min-width:            80px;
  min-height:           80px;
  border-radius:        100%;
  margin:               16px 24px 16px 16px;

  background-image:     url("/home/john/.config/eww/assets/avatar.png");
  background-position:  center;
  background-repeat:    no-repeat;
  background-size:      cover;
}

.card {
  padding:              12px;
  background-color:     #292E42;
  border-radius:        12px;
}

.icon-arch {
  font-size:            72pt;
  color:                #1793D1;
}

.button-text {
  color:                #C0CAF5;
}
.button-text:hover {
  color:                #FFFFFF;
}
